
 <nav class="nav-extended">
    <div class="nav-wrapper">
      <div class="col s10 offset-s2">
        <a href="#" class="brand-logo">Pouches</a>
        <img src="https://i.imgur.com/htgxCj4.gif" alt="kangaroo logo" class="right"    >
      </div>
    </div>
    <div class="nav-content">
        <p>Research your next Kickstarter idea.</p>
    </div>
  </nav>
<div class="parallax-container">
      <div class="parallax"><img src="https://cdn2.hubspot.net/hubfs/145335/blog-image-uploads/free-case-study-template.jpg"></div>
</div>

<div class="container" id="formContainer">
    <div class="formHFlex">
        <h3 id="form-header">Enter Your Project Information Below</h3>
        <a class="btn tooltipped" data-position="bottom" data-tooltip="Select the project type that most interests you and learn how similar strategies have faired.">?</a>
    </div>
    <div class="card">
    <form id="new-project-form">
        <div class="input-field col s6">
              <input id="project-name" type="text" class="validate">
              <label for="project-name">Your Project Name</label>
          </div>
        <div class="row">
            <div class="input-field col s6">
                <select id="category">
                    <option value="" disabled selected>Choose a category</option>
                    <option value="art">Art</option>
                    <option value="comics">Comics</option>
                    <option value="crafts">Crafts</option>
                    <option value="dance">Dance</option>
                    <option value="design">Design</option>
                    <option value="fashion">Fashion</option>
                    <option value="film">Film & Video</option>
                    <option value="food">Food</option>
                    <option value="games">Games</option>
                    <option value="journalism">Journalism</option>
                    <option value="music">Music</option>
                    <option value="photography">Photography</option>
                    <option value="publishing">Publishing</option>
                    <option value="technology">Technology</option>
                    <option value="theater">Theater</option>
                </select>
                <label>Category</label>
            </div>
            <div class="input-field col s6">
                <select id="country">
                    <option value="" disabled selected>Choose a country</option>
                    <option value="US">United States</option>
                    <option value="GB">Great Britain</option>
                    <option value="CA">Canada</option>
                </select>
                <label>Country</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s3 offset-s3">
                <input id="min-goal" type="text" class="validate">
                <label for="min-goal">Minimum Goal</label>
            </div>
            <div class="input-field col s3">
                <input id="max-goal" type="text" class="validate">
                <label for="max-goal">Maximum Goal</label> 
            </div>
        </div>
        <div class="row">
            <a id="submit-button" class="waves-effect waves-light btn-large col s2 offset-s4" data-toggle="modal" data-targets="#exampleModal">Submit</a>
        </div>
    </form>
    </div>
</div>


<!-- Results Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Results</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{successPercentage}}%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="successes">Success</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Graph</p>
                                </div>
                            </div>
                        </div>
                        <div class="v1"></div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="col-md-12">
                                    <p>{{failurePercentage}}%</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="failures">Failures</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p>Graph</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="edit-new-project-button" data-dismiss="modal">Edit New
                    Project</button>
                <button type="button" class="btn btn-primary" id="display-results-data" data-dismiss="modal">Display Results
                    Data</button>
            </div>
        </div>
    </div>
</div>
<div class="table-container">
    <div id="successes-table" class="table">
        <h1 class="successes">Successes</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Country</th>
                    <th scope="col">Pledged</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Backers</th>
                </tr>
            </thead>
            <tbody>
                {{#each successfulResults}}
                <tr>
                    <td>{{project_name}}</td>
                    <td>{{main_category}}</td>
                    <td>{{country}}</td>
                    <td>{{pledged}}</td>
                    <td>{{goal}}</td>
                    <td>{{backers}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div id="failures-table" class="table">
        <h1 class="failures">Failures</h1>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Country</th>
                    <th scope="col">Pledged</th>
                    <th scope="col">Goal</th>
                    <th scope="col">Backers</th>
                </tr>
            </thead>
            <tbody>
                {{#each failureResults}}
                <tr>
                    <td>{{project_name}}</td>
                    <td>{{main_category}}</td>
                    <td>{{country}}</td>
                    <td>{{pledged}}</td>
                    <td>{{goal}}</td>
                    <td>{{backers}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <button id="edit-project-info-button" class="btn btn-primary" type="reset">Edit Project Info</button>
    <input id="clear-form-button" class="btn btn-primary" type="reset" value="reset">
</div>

<div class="row tabBox">
    <div class="col s12">
    <h3 class="center-align">General Trends</h3>
      <ul class="tabs">
        <li class="tab col s3"><a class="active" href="#chart1">Distribution of Categories Tree Map</a></li>
        <li class="tab col s3"><a href="#chart2">Category Columns</a></li>
        <li class="tab col s3"><a href="#chart3">Donut</a></li>
        <li class="tab col s3"><a href="#chart4">Chart</a></li>
      </ul>
    </div>
    <div id="chart1" class="col s12">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSHISSyj5NhEIQ6o_xOMhty4tZfE0aSkhOn2QlvZsRAd1iHrzYtxMHGj0jpNSouZPHPiONH6c5MqILq/pubchart?oid=1809559103&amp;format=interactive"></iframe>
    </div>
    <div id="chart2" class="col s12">
            <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSHISSyj5NhEIQ6o_xOMhty4tZfE0aSkhOn2QlvZsRAd1iHrzYtxMHGj0jpNSouZPHPiONH6c5MqILq/pubchart?oid=390740315&amp;format=interactive"></iframe>        
    </div>
    <div id="chart3" class="col s12">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vSHISSyj5NhEIQ6o_xOMhty4tZfE0aSkhOn2QlvZsRAd1iHrzYtxMHGj0jpNSouZPHPiONH6c5MqILq/pubchart?oid=448172523&amp;format=interactive"></iframe>
    </div>

    <div id="chart4" class="col s12">
        <iframe src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQe0sF48rH5SvAx6rNf7g4qhzOwinKXTLS1wx7gnqPyMt52hzyF9x8tso6o5Xmfpzxbq2wYlBHloQIl/pubchart?oid=243655704&amp;format=interactive"></iframe>
    </div>
</div>